/* Nav bar css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar {
position: sticky;
top: 0;
left: 0;
z-index: 1;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5rem 3.5rem;
background-color:whitesmoke;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav_logo{
    color:#00ABE4;
    
}

.nav_links{
    color: #00ABE4;
    
}

.nav_links:hover {
    opacity: 0.7;
}

.topnav__container {
    display: flex;
   gap: 1.9rem;
  }

.nav__link--headers {
    font-weight: bold;
    display: inline;
    float: left;
}

.burger-menu{
    color: gray;
    font-size: 2rem;
    border:0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero{
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding-top: 5rem;
    
}

.hero-img{
    height: 15%;
    width: 34%;
    border-radius: 25%;
    margin-bottom: 2rem;
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px gray
}

.bio-title{
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

.bio-text{
    line-height: 1.5;
    padding: 0.3rem;
    text-align: center;
}

.more-about{
    background-color: whitesmoke;
    padding: 1rem 6rem;
    text-align: center;
    
}



.more-about p{
    line-height: 1.5;
    padding: 0.4rem;
}

.bio-closer{
    font-size: 18px;
    font-weight: 700;
}

.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header{
    margin-bottom: 1rem;
}

.skills-wrapper img{
    padding: 1.25rem;
}

.icon{
    width: 8rem;
    height: 8rem;
}

.icon-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px;
    padding: 1.25rem;
    margin: .625rem;
}

.projects {
background-color: whitesmoke;
padding: 32px 0px;
margin-top: 2rem;
}

.project-pic{
    width: 30%;
    height: 30%;
    
}

.projects-container {
    display: flex;
    max-width: 2500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title{
    margin-bottom: 1rem;
}

.project-details{
    margin-bottom: 1rem;
}

.project-card{
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 3px 10px;
    padding: 20px;
    margin: 15px;
    /*cards will have different sizes based on the amount of text in description*/
}

.contact {
    margin-top: 2rem;
}

.contact h2{
    text-align: center;
    margin-bottom:2rem
}

.contact-form-container {
    
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px;
    background-color: rgb(233, 233, 233);
}

.contact-form-container label{
    line-height:2.7em;
    font-weight: 700;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset black;
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: all;
}

.submit-btn:hover {
    background-color: #00ABE4;
    border: 2px solid #00ABE4;
    cursor: pointer;
}

.socials {
    display:flex;
    flex-direction: column;
    position: fixed;
    right: 0.5%;
    bottom: 10%;
    
}

.socicon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: none;

}

.footer{
    background-color: whitesmoke;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 2.5rem;
    height: 2.5rem;
    
}

@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
.navbar {
    padding: 1.5rem 1rem;
}

.topnav__container {
    position: fixed;
    flex-direction: column;
    top: 126px;
    left: 55%;
    width: 80%;
    text-align:center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
}

nav ul li{
    margin:8px;
}

.burger-menu{
    display: block;
}

nav ul.show{
    transform: translateX(0);
}

.hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
}

.hero-img {
    height: 15%;
    width: 45%;
    padding-bottom: 7rem;
}

.bio {
    margin-top: -7rem;
    width: 18.5rem;
}

.more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
}

.more-about h2 {
    text-align: center;
}

.more-about p {
    text-align: justify;
    text-align: center;
}

.icon {
    width: 5.875rem;
    height: 5.25rem;
}

.projects-container {
    flex-direction: column;
}

.project-container{
    width: 20.875rem;
}

.contact-form-container {
    max-width: 23.75rem;
}

  }